files:
  /etc/pki/tls/certs/server.crt:
    mode: '000400'
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIGczCCBFugAwIBAgIQIFq2EKAUJWK71KD9OZzpIDANBgkqhkiG9w0BAQwFADBL
      MQswCQYDVQQGEwJBVDEQMA4GA1UEChMHWmVyb1NTTDEqMCgGA1UEAxMhWmVyb1NT
      TCBSU0EgRG9tYWluIFNlY3VyZSBTaXRlIENBMB4XDTI0MDkwNTAwMDAwMFoXDTI0
      MTIwNDIzNTk1OVowFTETMBEGA1UEAxMKcmFpZGFyLnh5ejCCASIwDQYJKoZIhvcN
      AQEBBQADggEPADCCAQoCggEBAIQhCwHf4OQWUPO1pkZOVPQh1W1e17RBz/giFGNF
      CnszsVrRCOLwpFOveRxxEZ0J0RoyO+8d+P7IHY56/KOrDCFCOYFdHxc4ealfRsZG
      rgqNDnoFRYWJuDUfoRsHpLxF3gE+Sb5VqK7pE6aIP54hDf9lUNpwc9QyZqpRCsxH
      HSSp17G1MRttkixdHSqK3o1bKH4zA9sCqKi+nemBkvRFjqkUp7kXRYGjAc0uucgH
      YjeIAmEM21LHBXaDE7Jk9odlw7mQC/Myr/TZL9xKBO603TWWrGhPd80bUGFLNHAp
      zFz/fY7egJT4SJh/BJhyhqaaqU/RGgKcRdRYc6Ja+yX5OEECAwEAAaOCAocwggKD
      MB8GA1UdIwQYMBaAFMjZeGii2Rlo1T1y3l8KPty1hoamMB0GA1UdDgQWBBR5QNTJ
      CyRN+LAWB8qPnYYqrqjgYjAOBgNVHQ8BAf8EBAMCBaAwDAYDVR0TAQH/BAIwADAd
      BgNVHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwSQYDVR0gBEIwQDA0BgsrBgEE
      AbIxAQICTjAlMCMGCCsGAQUFBwIBFhdodHRwczovL3NlY3RpZ28uY29tL0NQUzAI
      BgZngQwBAgEwgYgGCCsGAQUFBwEBBHwwejBLBggrBgEFBQcwAoY/aHR0cDovL3pl
      cm9zc2wuY3J0LnNlY3RpZ28uY29tL1plcm9TU0xSU0FEb21haW5TZWN1cmVTaXRl
      Q0EuY3J0MCsGCCsGAQUFBzABhh9odHRwOi8vemVyb3NzbC5vY3NwLnNlY3RpZ28u
      Y29tMIIBBQYKKwYBBAHWeQIEAgSB9gSB8wDxAHYAdv+IPwq2+5VRwmHM9Ye6NLSk
      zbsp3GhCCp/mZ0xaOnQAAAGRwsBbqQAABAMARzBFAiBmJQJsao49wjX8pzLxYJpr
      3+XfNM6lEXtB3ZStRZ4FxwIhAOGINnGXzBp0SCVJK18CSdWk+1VcTGTQX7Xd/K3O
      yOMuAHcAPxdLT9ciR1iUHWUchL4NEu2QN38fhWrrwb8ohez4ZG4AAAGRwsBbQQAA
      BAMASDBGAiEA34HpwB2I9F7zwhqq4Dgl/1TJxDCqSi7szA+f4PqIYR8CIQCZTLEk
      XhCcEBLkxZ9B0QW49bTBCSleyXWmrdsKrm164DAlBgNVHREEHjAcggpyYWlkYXIu
      eHl6gg53d3cucmFpZGFyLnh5ejANBgkqhkiG9w0BAQwFAAOCAgEAM1eGu15AUKQ1
      PjgobrXycm4RxcOXvjIbTSXOWvbLZAfudIPVaHcq5lA/S7cGrP1cmt18ywc+Tzvb
      eaQZAKUUujeywDj2Vybais1pe72LU2pTJM82LfKj6keOltkQnUa8JH91WsQr4DwU
      dkbEYVFkTHjlS+g2y1u72mlmQWQURezZKjfXTkpTdL9UL4IUXvRCZ+LsoPV2ablb
      8kD8jwC20RIplZW/4pjlRSXVTRjAW/W2H5QZAhv01fR6KdbOIR3fEOSjHeNmPbTv
      XT24tYeq9DHRy/uI6yBxkyG/K8P+VJ96zH/1E14lhfK8hNL/ze8y8R7UF+MDyngL
      a5FvPDIqtZ0wZGB6U+ClnwMp4lUQ7oAuwxKC/84fw6Lpg4KzM3vXHppDxFmyD79S
      IE3f8HLiuO3N4fd0wwzbOQzQ6yznA34qKPxCHOLNWitfTphNTvOoSMgu0eFU9zro
      mwmnjdzY/Gry9h6vW3bkcNAvRttbDxfOcMnXYay5YElHY3oFC4wVh6VvTST5yFHk
      WxMs5JSdkVXBB4c25sZ5aKoI1quEnOo2/ocoP2ebJoTmC5g2zHKmAztVTW9VoIiR
      ln0ruTKbivia4NI8SJDR/PgffLsYg1e57scOFFIQiC0VT47ZO2L9wN7t9slIz+Uc
      iB7DkUT9/lILLTlo6vSzohhpa+j/hUU=
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      MIIG1TCCBL2gAwIBAgIQbFWr29AHksedBwzYEZ7WvzANBgkqhkiG9w0BAQwFADCB
      iDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCk5ldyBKZXJzZXkxFDASBgNVBAcTC0pl
      cnNleSBDaXR5MR4wHAYDVQQKExVUaGUgVVNFUlRSVVNUIE5ldHdvcmsxLjAsBgNV
      BAMTJVVTRVJUcnVzdCBSU0EgQ2VydGlmaWNhdGlvbiBBdXRob3JpdHkwHhcNMjAw
      MTMwMDAwMDAwWhcNMzAwMTI5MjM1OTU5WjBLMQswCQYDVQQGEwJBVDEQMA4GA1UE
      ChMHWmVyb1NTTDEqMCgGA1UEAxMhWmVyb1NTTCBSU0EgRG9tYWluIFNlY3VyZSBT
      aXRlIENBMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAhmlzfqO1Mdgj
      4W3dpBPTVBX1AuvcAyG1fl0dUnw/MeueCWzRWTheZ35LVo91kLI3DDVaZKW+TBAs
      JBjEbYmMwcWSTWYCg5334SF0+ctDAsFxsX+rTDh9kSrG/4mp6OShubLaEIUJiZo4
      t873TuSd0Wj5DWt3DtpAG8T35l/v+xrN8ub8PSSoX5Vkgw+jWf4KQtNvUFLDq8mF
      WhUnPL6jHAADXpvs4lTNYwOtx9yQtbpxwSt7QJY1+ICrmRJB6BuKRt/jfDJF9Jsc
      RQVlHIxQdKAJl7oaVnXgDkqtk2qddd3kCDXd74gv813G91z7CjsGyJ93oJIlNS3U
      gFbD6V54JMgZ3rSmotYbz98oZxX7MKbtCm1aJ/q+hTv2YK1yMxrnfcieKmOYBbFD
      hnW5O6RMA703dBK92j6XRN2EttLkQuujZgy+jXRKtaWMIlkNkWJmOiHmErQngHvt
      iNkIcjJumq1ddFX4iaTI40a6zgvIBtxFeDs2RfcaH73er7ctNUUqgQT5rFgJhMmF
      x76rQgB5OZUkodb5k2ex7P+Gu4J86bS15094UuYcV09hVeknmTh5Ex9CBKipLS2W
      2wKBakf+aVYnNCU6S0nASqt2xrZpGC1v7v6DhuepyyJtn3qSV2PoBiU5Sql+aARp
      wUibQMGm44gjyNDqDlVp+ShLQlUH9x8CAwEAAaOCAXUwggFxMB8GA1UdIwQYMBaA
      FFN5v1qqK0rPVIDh2JvAnfKyA2bLMB0GA1UdDgQWBBTI2XhootkZaNU9ct5fCj7c
      tYaGpjAOBgNVHQ8BAf8EBAMCAYYwEgYDVR0TAQH/BAgwBgEB/wIBADAdBgNVHSUE
      FjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwIgYDVR0gBBswGTANBgsrBgEEAbIxAQIC
      TjAIBgZngQwBAgEwUAYDVR0fBEkwRzBFoEOgQYY/aHR0cDovL2NybC51c2VydHJ1
      c3QuY29tL1VTRVJUcnVzdFJTQUNlcnRpZmljYXRpb25BdXRob3JpdHkuY3JsMHYG
      CCsGAQUFBwEBBGowaDA/BggrBgEFBQcwAoYzaHR0cDovL2NydC51c2VydHJ1c3Qu
      Y29tL1VTRVJUcnVzdFJTQUFkZFRydXN0Q0EuY3J0MCUGCCsGAQUFBzABhhlodHRw
      Oi8vb2NzcC51c2VydHJ1c3QuY29tMA0GCSqGSIb3DQEBDAUAA4ICAQAVDwoIzQDV
      ercT0eYqZjBNJ8VNWwVFlQOtZERqn5iWnEVaLZZdzxlbvz2Fx0ExUNuUEgYkIVM4
      YocKkCQ7hO5noicoq/DrEYH5IuNcuW1I8JJZ9DLuB1fYvIHlZ2JG46iNbVKA3ygA
      Ez86RvDQlt2C494qqPVItRjrz9YlJEGT0DrttyApq0YLFDzf+Z1pkMhh7c+7fXeJ
      qmIhfJpduKc8HEQkYQQShen426S3H0JrIAbKcBCiyYFuOhfyvuwVCFDfFvrjADjd
      4jX1uQXd161IyFRbm89s2Oj5oU1wDYz5sx+hoCuh6lSs+/uPuWomIq3y1GDFNafW
      +LsHBU16lQo5Q2yh25laQsKRgyPmMpHJ98edm6y2sHUabASmRHxvGiuwwE25aDU0
      2SAeepyImJ2CzB80YG7WxlynHqNhpE7xfC7PzQlLgmfEHdU+tHFeQazRQnrFkW2W
      kqRGIq7cKRnyypvjPMkjeiV9lRdAM9fSJvsB3svUuu1coIG1xxI1yegoGM4r5QP4
      RGIVvYaiI76C0djoSbQ/dkIUUXQuB8AL5jyH34g3BZaaXyvpmnV4ilppMXVAnAYG
      ON51WhJ6W0xNdNJwzYASZYH+tmCWI+N60Gv2NNMGHwMZ7e9bXgzUCZH5FaBFDGR5
      S9VWqHB73Q+OyIVvIbKYcSc2w/aSuFKGSA==
      -----END CERTIFICATE-----
  /etc/pki/tls/certs/server.key:
    mode: '000400'
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEowIBAAKCAQEAhCELAd/g5BZQ87WmRk5U9CHVbV7XtEHP+CIUY0UKezOxWtEI
      4vCkU695HHERnQnRGjI77x34/sgdjnr8o6sMIUI5gV0fFzh5qV9GxkauCo0OegVF
      hYm4NR+hGwekvEXeAT5JvlWorukTpog/niEN/2VQ2nBz1DJmqlEKzEcdJKnXsbUx
      G22SLF0dKorejVsofjMD2wKoqL6d6YGS9EWOqRSnuRdFgaMBzS65yAdiN4gCYQzb
      UscFdoMTsmT2h2XDuZAL8zKv9Nkv3EoE7rTdNZasaE93zRtQYUs0cCnMXP99jt6A
      lPhImH8EmHKGppqpT9EaApxF1Fhzolr7Jfk4QQIDAQABAoIBAFoOn48GhiVQZJrH
      2+4do9/GU885DrLJDLQmnljPDQbOQ/sPcQwlUwvLFTRiiMvNjh1Z0en4NueJhEPB
      5gK0Kg9dMQ7QZsmP77SWwQmR0TxVymE2yJztMoXa6hcfTZQZ1uhoCSFXByM4r/EY
      +quQAhdqegJ5FSmztLAvjrmPWvjKYgyRO6mHds1xOdnygebo5M6Ju36Ekw+1bz/6
      Ms/1L381EHeK9usb3PAHgOpoBs0YiS2Drb2kJMcy6vicAwus7rG56nY/vh4xeHcO
      fR0saRKbFAUK1gm3TKI1+MzW+M0B5ocQt7MjTBlMwoF+olN7gpptpIWXEvtYrQm3
      In2Ty3ECgYEA0I16zYzKm5xMeQ2R7WhCjeCuWSVU2VMZO9aUYktk49r/5yqNtow1
      G2pUY51Mdm0VIYtx4elNKmefUYbQ0xlYrNpKUSHzPonHLoXbnIl8rvexdaLXBd2l
      JR5NbfixaXDAtTjorAFQwyhifCatyasgT9n0aF6IPxakB4D8EJk/0oUCgYEAojCA
      mrVX4+oa8xSKPfMw/EaKcwOTLKbJ/kVrkQgyQ2FdnOCnrZugBfzcVkg0i0j6D4CC
      +48v2qNJDEf0AmABJMt5Tt3SEF/1z3l6FLldiL8PjprKz6hgpZxeg+VdROjTVXly
      C97nKzpWf3Toh5Rt0K8EMUr5ae/weFXR/pBswY0CgYBTook+6VlPMk0QtrpwxMD7
      +MCyi2ANj1+tOY5kJOwe3HKHl+8g5/VcOzYAhNJnI7O3sh5HhLIncUrY/QG9xopj
      N19aTg0oZUR1icTab+CKolaOYHFursZNrmtK0NME/+yoQFw+roBe41ErjK9hErlw
      jG2RdWeaNVAumjF7zpljqQKBgDTmnQvZGlG8ig2/JVgPemrOl1nsUJS/0iKdgfhM
      NBjGKUKCBC8cE5XgY/3Aj2Le6rEjuZVTnsgxeiIHVg9wQO8/btHKiDnPEt4ZQTiB
      PYDc0LYyxvP0d5GM70cWCNXxGv1GH2y/x6bR4GSyPSX7w9XNQBDT44YqPMUDOPtP
      ICoBAoGBAMkFEY/faUJNRF/TvqYCmWunCHw7ALweNxnhbumOm2Pe3nKiuz79MjJH
      //zwdXYklpmsX8qw0BleN9w2Q3/pUpvkNL+Q1tRjYk1qXETUB6W9GFGMIMqXDx3S
      9dnRqkFHsn2UcSN6rO8cbTp1oNrqVKuDRf1YlFbhyfv36Nu3FO7F
      -----END RSA PRIVATE KEY-----