files:      
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIGcDCCBFigAwIBAgIRALuD0kYstpizlqNetGm3BlUwDQYJKoZIhvcNAQEMBQAw
      SzELMAkGA1UEBhMCQVQxEDAOBgNVBAoTB1plcm9TU0wxKjAoBgNVBAMTIVplcm9T
      U0wgUlNBIERvbWFpbiBTZWN1cmUgU2l0ZSBDQTAeFw0yMzExMDMwMDAwMDBaFw0y
      NDAyMDEyMzU5NTlaMBQxEjAQBgNVBAMTCXJhaWRhci51czCCASIwDQYJKoZIhvcN
      AQEBBQADggEPADCCAQoCggEBANbKETrjQg8B7yo7Q2pGs4YID9JtI//OUbR8irMk
      t3UwWc2MDMUApvx7czgopGSNKcHEwGciwuFJUtOtvCLgIxewAe4PvRJIvD32vyIc
      GmsdYuH64QHAEbxCWyPsXGueBqnWudhD3sV79C/+iEMavAYtOFPiLlY2+Yz1WyKo
      WP4oSix8l4waTydDhKssEZ1KoeEZ3PwE+psJhWXBcZuMuMuHdqO2jSZYdP19NNeh
      iAYsXQBh1444VAC1PUH6QoXF0qG37YWHlBEvbUOJIhI9/rV8eyeMMsQ3FNfvyCYQ
      1CAPceXHAJJC/kFoxFmif/KTjBMYO7+du4cLmReEk/DgZ3MCAwEAAaOCAoQwggKA
      MB8GA1UdIwQYMBaAFMjZeGii2Rlo1T1y3l8KPty1hoamMB0GA1UdDgQWBBQnL5A8
      KQGhkl28ImLClV/W+/wPMDAOBgNVHQ8BAf8EBAMCBaAwDAYDVR0TAQH/BAIwADAd
      BgNVHSUEFjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwSQYDVR0gBEIwQDA0BgsrBgEE
      AbIxAQICTjAlMCMGCCsGAQUFBwIBFhdodHRwczovL3NlY3RpZ28uY29tL0NQUzAI
      BgZngQwBAgEwgYgGCCsGAQUFBwEBBHwwejBLBggrBgEFBQcwAoY/aHR0cDovL3pl
      cm9zc2wuY3J0LnNlY3RpZ28uY29tL1plcm9TU0xSU0FEb21haW5TZWN1cmVTaXRl
      Q0EuY3J0MCsGCCsGAQUFBzABhh9odHRwOi8vemVyb3NzbC5vY3NwLnNlY3RpZ28u
      Y29tMIIBBAYKKwYBBAHWeQIEAgSB9QSB8gDwAHYAdv+IPwq2+5VRwmHM9Ye6NLSk
      zbsp3GhCCp/mZ0xaOnQAAAGLlOSM4wAABAMARzBFAiAKQGsK+Earqy6Xej1rZcaS
      pG9nfvxjsw5rItfudF2kdwIhAJ3+x0o1kz+gU/X67cOAm/3EJ7XkoZx61IhLPZgB
      RG+VAHYAO1N3dT4tuYBOizBbBv5AO2fYT8P0x70ADS1yb+H61BcAAAGLlOSN1wAA
      BAMARzBFAiEA00z0DmOWA0T7wDi/m25YcxGNIcwg8Ml3+fK2jTLUDkUCIGmpiB1+
      SfEYySTvNQb19auZmeLq2ELV5OvrnMJS8+cdMCMGA1UdEQQcMBqCCXJhaWRhci51
      c4INd3d3LnJhaWRhci51czANBgkqhkiG9w0BAQwFAAOCAgEACmjZTCu5Af57uSBy
      MeFeXr25IUzQTu0kfQ/3M0AIJPdy9s0OLTAvCrd16DPaL2e3Gx+EsMJwC40Mm3iz
      LdT3GYutvs6yWUzCpV5hPSc8U8g2rwARufI9r/4MhG4eCJB4+fVHBLxS1oJGs+M3
      IyotiImv3w5I7j+qcmgMVS+LpQg48BAJfxAlxITvvfMPbLLF1DD8iheGN+6Bx8bO
      iFKT4VD8wt2grvWosXjIktpEe23axHrUw3V0gwdjQ4bHBlduauGRKIWLSkoUgTXc
      ZIkWSUTUYj6ombIqazAWP16sQ3wbK/c0dhGHclqKFpitFK3hiEtSNlXYP50xwmWX
      v/KnyvO7XZHYFetAR79zjwf4XPhN8aZ/Ja0OeK46eBmWDFb8vDk20MtCHgAF4u2i
      E9Eb5WspPW5rePUcazb2rZloDViM5eBbn9HuD+Ayt+hd8Ri43Ml4H578rwrnYVZy
      harTlBZ60MnnghKAaAby2n3L674qM0AZXxvgXTwvTdJMBHwQimx3RVoS1t1/E/cY
      n5/I5Z6lBQDL6rIuZ2yZhwZVoDXh6P+6cavpURD62CauKhY4fvdBW7XMGBFACTrE
      21HWCotD4CqVNgbqI4B0ba4CfcMcN/xmYnstZ6MjJin+qa83j+OZu1kdTQV4kVIa
      ZoVpAhnzyDCfG8NkO3pJVEDNVxM=
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      MIIG1TCCBL2gAwIBAgIQbFWr29AHksedBwzYEZ7WvzANBgkqhkiG9w0BAQwFADCB
      iDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCk5ldyBKZXJzZXkxFDASBgNVBAcTC0pl
      cnNleSBDaXR5MR4wHAYDVQQKExVUaGUgVVNFUlRSVVNUIE5ldHdvcmsxLjAsBgNV
      BAMTJVVTRVJUcnVzdCBSU0EgQ2VydGlmaWNhdGlvbiBBdXRob3JpdHkwHhcNMjAw
      MTMwMDAwMDAwWhcNMzAwMTI5MjM1OTU5WjBLMQswCQYDVQQGEwJBVDEQMA4GA1UE
      ChMHWmVyb1NTTDEqMCgGA1UEAxMhWmVyb1NTTCBSU0EgRG9tYWluIFNlY3VyZSBT
      aXRlIENBMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAhmlzfqO1Mdgj
      4W3dpBPTVBX1AuvcAyG1fl0dUnw/MeueCWzRWTheZ35LVo91kLI3DDVaZKW+TBAs
      JBjEbYmMwcWSTWYCg5334SF0+ctDAsFxsX+rTDh9kSrG/4mp6OShubLaEIUJiZo4
      t873TuSd0Wj5DWt3DtpAG8T35l/v+xrN8ub8PSSoX5Vkgw+jWf4KQtNvUFLDq8mF
      WhUnPL6jHAADXpvs4lTNYwOtx9yQtbpxwSt7QJY1+ICrmRJB6BuKRt/jfDJF9Jsc
      RQVlHIxQdKAJl7oaVnXgDkqtk2qddd3kCDXd74gv813G91z7CjsGyJ93oJIlNS3U
      gFbD6V54JMgZ3rSmotYbz98oZxX7MKbtCm1aJ/q+hTv2YK1yMxrnfcieKmOYBbFD
      hnW5O6RMA703dBK92j6XRN2EttLkQuujZgy+jXRKtaWMIlkNkWJmOiHmErQngHvt
      iNkIcjJumq1ddFX4iaTI40a6zgvIBtxFeDs2RfcaH73er7ctNUUqgQT5rFgJhMmF
      x76rQgB5OZUkodb5k2ex7P+Gu4J86bS15094UuYcV09hVeknmTh5Ex9CBKipLS2W
      2wKBakf+aVYnNCU6S0nASqt2xrZpGC1v7v6DhuepyyJtn3qSV2PoBiU5Sql+aARp
      wUibQMGm44gjyNDqDlVp+ShLQlUH9x8CAwEAAaOCAXUwggFxMB8GA1UdIwQYMBaA
      FFN5v1qqK0rPVIDh2JvAnfKyA2bLMB0GA1UdDgQWBBTI2XhootkZaNU9ct5fCj7c
      tYaGpjAOBgNVHQ8BAf8EBAMCAYYwEgYDVR0TAQH/BAgwBgEB/wIBADAdBgNVHSUE
      FjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwIgYDVR0gBBswGTANBgsrBgEEAbIxAQIC
      TjAIBgZngQwBAgEwUAYDVR0fBEkwRzBFoEOgQYY/aHR0cDovL2NybC51c2VydHJ1
      c3QuY29tL1VTRVJUcnVzdFJTQUNlcnRpZmljYXRpb25BdXRob3JpdHkuY3JsMHYG
      CCsGAQUFBwEBBGowaDA/BggrBgEFBQcwAoYzaHR0cDovL2NydC51c2VydHJ1c3Qu
      Y29tL1VTRVJUcnVzdFJTQUFkZFRydXN0Q0EuY3J0MCUGCCsGAQUFBzABhhlodHRw
      Oi8vb2NzcC51c2VydHJ1c3QuY29tMA0GCSqGSIb3DQEBDAUAA4ICAQAVDwoIzQDV
      ercT0eYqZjBNJ8VNWwVFlQOtZERqn5iWnEVaLZZdzxlbvz2Fx0ExUNuUEgYkIVM4
      YocKkCQ7hO5noicoq/DrEYH5IuNcuW1I8JJZ9DLuB1fYvIHlZ2JG46iNbVKA3ygA
      Ez86RvDQlt2C494qqPVItRjrz9YlJEGT0DrttyApq0YLFDzf+Z1pkMhh7c+7fXeJ
      qmIhfJpduKc8HEQkYQQShen426S3H0JrIAbKcBCiyYFuOhfyvuwVCFDfFvrjADjd
      4jX1uQXd161IyFRbm89s2Oj5oU1wDYz5sx+hoCuh6lSs+/uPuWomIq3y1GDFNafW
      +LsHBU16lQo5Q2yh25laQsKRgyPmMpHJ98edm6y2sHUabASmRHxvGiuwwE25aDU0
      2SAeepyImJ2CzB80YG7WxlynHqNhpE7xfC7PzQlLgmfEHdU+tHFeQazRQnrFkW2W
      kqRGIq7cKRnyypvjPMkjeiV9lRdAM9fSJvsB3svUuu1coIG1xxI1yegoGM4r5QP4
      RGIVvYaiI76C0djoSbQ/dkIUUXQuB8AL5jyH34g3BZaaXyvpmnV4ilppMXVAnAYG
      ON51WhJ6W0xNdNJwzYASZYH+tmCWI+N60Gv2NNMGHwMZ7e9bXgzUCZH5FaBFDGR5
      S9VWqHB73Q+OyIVvIbKYcSc2w/aSuFKGSA==
      -----END CERTIFICATE-----
    
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEA1soROuNCDwHvKjtDakazhggP0m0j/85RtHyKsyS3dTBZzYwM
      xQCm/HtzOCikZI0pwcTAZyLC4UlS0628IuAjF7AB7g+9Eki8Pfa/Ihwaax1i4frh
      AcARvEJbI+xca54Gqda52EPexXv0L/6IQxq8Bi04U+IuVjb5jPVbIqhY/ihKLHyX
      jBpPJ0OEqywRnUqh4Rnc/AT6mwmFZcFxm4y4y4d2o7aNJlh0/X0016GIBixdAGHX
      jjhUALU9QfpChcXSobfthYeUES9tQ4kiEj3+tXx7J4wyxDcU1+/IJhDUIA9x5ccA
      kkL+QWjEWaJ/8pOMExg7v527hwuZF4ST8OBncwIDAQABAoIBACcFOrAaDSwwy8Q+
      U/cAtSiKWmV+EmYsk0dYwNHev714dTgUU1WO0sdXngz7xTHHO2jKV7Hk7MaEzZlL
      HLyxP27UOOWI0m557EjNhNerh1kiU45+R1ZMEGzFGU2jaP7cDJXaPpT9b4EtDaWS
      dirKtpHgsTT8CDL9dcSX5mCbeN9jGTKvpTd7KH2JImXda1SRHsFjRolYNKQ/e9li
      nbH5lCB+ekDx+ipM2r+EeIp2RQbpGgmU5MbdEWNaN/hDhxZJBYZ8zM2flf6vXcty
      4Oj9Yz53XlqtSUo+L4u8l3TzGMbQirZYsmmG7G967acYxhxjge+0j2BmqMiqY5D6
      U7JuSbECgYEA7CYFoBA7bw6aQ9IFZ/ZJdPRddzdzT4mbNay1RZWxrfBk9xO34KV7
      AoO99yvHelr7E5nlKdfkvLvkvWLklGqSGBZr7ZD8itPz9xrfY2rntPgZq+N1smst
      7iLICExFY5Pd6KDgsCLiU9exUF8Wgnip17B47PKUjFzlYQHu8FxZKFcCgYEA6Nhj
      ygxEtVX+A8MCFYFo6iEdEjLba2nB6H7lkxbxkvXpt7HKZpLckIbsQ6v2nmSp+ixT
      hDgSTl5o9inr8AjhVodKYYVp43nsii5TNsPtkcYaPrrqFFVDQOYBG0k/eBM9Pkt9
      7aaxxWkV0kju305FxKhSAdjRbRqvkT6Gs8a2uEUCgYA2KiJwLEj1mCvaEnoa9mqy
      4LnvdlCEldN75DlP1J4Ef3cpFOTAKjSkxwLzhp8ieWvNeycNCe/1OkOlDOHRCQCp
      dbsbqn3CegsjSo6ihwrOf3mj63A7lEncrS2keZoQ1QG5Me1XeSjggkCxZp4LHxIV
      3uxdrOZVq5kRPxhHGWd50QKBgQCjWryXkYfamFu/E96wa7vJFjYpAFkDwIxzqiMx
      0FTmv3OaljbjQ4FOO/ohd9FrSkAd7V8iUZw2MvH8UWjfW7uLUxsR0+F335/dSabD
      sy1Gqe7bt5JldXPbYgHAvOC0QvsiayALzHjHgHP4tYYwT9+Omm/+L7itjJ1DjtQ9
      59lk6QKBgQC3hyyP2HKhjTB09RUSWwSZWE8yMYuaco048C4h41VC6Rlp3X4Dd6Lr
      POhVvYTEztpVBf7g72/YiO5ngwZCmsdVOxbS6J8C17wocUsvIBuMAjcjVQ9Llogg
      /BCG/44VpBdbiVl1Z5puRsFRC/OzSJ49/UV6nh7YRJmQXfq0e+TldA==
      -----END RSA PRIVATE KEY-----
      