files:
  /etc/pki/tls/certs/server.crt:
    mode: '000400'
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIGaTCCBFGgAwIBAgIQR33Umd8RMzfP8mJzuc8f0TANBgkqhkiG9w0BAQwFADBL
      MQswCQYDVQQGEwJBVDEQMA4GA1UEChMHWmVyb1NTTDEqMCgGA1UEAxMhWmVyb1NT
      TCBSU0EgRG9tYWluIFNlY3VyZSBTaXRlIENBMB4XDTI0MDkwNTAwMDAwMFoXDTI0
      MTIwNDIzNTk1OVowGTEXMBUGA1UEAxMOYXBpLnJhaWRhci54eXowggEiMA0GCSqG
      SIb3DQEBAQUAA4IBDwAwggEKAoIBAQCOg8D6nthJFDv4MGa5FrrXrvBS8laeGspf
      UVa8AZZD8YPwcz5HgOy0oM0vgOpa+Mvk3CvzzHF1oPjtp1obQP03y2Y/p3cq3DZb
      hH73CwuLOhaDssvk0VsspsDfcvokbU4voXATJ/GHtsyb4kdcgXppyaNlNCgy+S8f
      DEnurG+6UExtz/js+DuB+yZYJoIGvZGBKecfeOUqRe8wnmFTXWr5QDwbhN+aBdhs
      8CB1XtnPBgd5fd/qSP7G0TwwGV99SkI1rsGMkFL6hEpSckT2Sn1s4S6wXtPYMq2v
      fARRhOuikc5QuOpLqyRA4MKlT5AkgysoHaHUS2KfOLzu4ETxryanAgMBAAGjggJ5
      MIICdTAfBgNVHSMEGDAWgBTI2XhootkZaNU9ct5fCj7ctYaGpjAdBgNVHQ4EFgQU
      FOGklaQptwa61tfNRsi3/+AKFwMwDgYDVR0PAQH/BAQDAgWgMAwGA1UdEwEB/wQC
      MAAwHQYDVR0lBBYwFAYIKwYBBQUHAwEGCCsGAQUFBwMCMEkGA1UdIARCMEAwNAYL
      KwYBBAGyMQECAk4wJTAjBggrBgEFBQcCARYXaHR0cHM6Ly9zZWN0aWdvLmNvbS9D
      UFMwCAYGZ4EMAQIBMIGIBggrBgEFBQcBAQR8MHowSwYIKwYBBQUHMAKGP2h0dHA6
      Ly96ZXJvc3NsLmNydC5zZWN0aWdvLmNvbS9aZXJvU1NMUlNBRG9tYWluU2VjdXJl
      U2l0ZUNBLmNydDArBggrBgEFBQcwAYYfaHR0cDovL3plcm9zc2wub2NzcC5zZWN0
      aWdvLmNvbTCCAQMGCisGAQQB1nkCBAIEgfQEgfEA7wB2AHb/iD8KtvuVUcJhzPWH
      ujS0pM27KdxoQgqf5mdMWjp0AAABkcLaLMYAAAQDAEcwRQIgS8gyvj3w5fHpUNhv
      G2gm58VRcMmgO+C86JWh840nxCYCIQDaFcUeA97UoOhtsarSVvcjXk+RtKEu7fLr
      jVDMI8V5wAB1AD8XS0/XIkdYlB1lHIS+DRLtkDd/H4Vq68G/KIXs+GRuAAABkcLa
      LHYAAAQDAEYwRAIgSL6pVWk9tkL203aidispcYfW7RoNtBzvof5VGG2RsvcCID7e
      OelEfRdshPK2XuJcHUEoiTGnYiXnzimcX1BLx0LXMBkGA1UdEQQSMBCCDmFwaS5y
      YWlkYXIueHl6MA0GCSqGSIb3DQEBDAUAA4ICAQBQQJpB5ePOF478jja/GHGxe23e
      9j7vjAvyvRpuZKkuA+f2YRion1f8LMz6Yitv6VFr7jFNjfD4+GgciaRLpaA4GBbd
      oUT9dy4zql0s1fvGEpJ4r9vW7d2OX/Ya/X6hl1Wp4+MXwjiNOcm1/RxZB6vNoZKa
      BjG8s4EB5C24UeQZM4axD+uUE7yO8nw6IJx8pdXm0YSEw1NjH2ukD+ZIbakXoEsc
      pywecBRD4T+Seko4XsQPoN/3Ww5D6cvjPePj6VMQ2ZyscLhR3GEWi1TxcWHEbxzM
      r4zlZF4MZOOrz0A0GyzDEdZ03F/QYk/dC+Eh+rrDwuS+DIP1HbiVVThr5Jt21sUu
      fuLA0a2MkX7bFmHqD8e+xPWPHXuSxLtnkn8TEnzYMLBFn5lpfM0D9ovyDUlxzTKJ
      TVPWyawZnL+1GPNS43WbOvVJDT19RjOALp7C4l7XcpYPZgDqY2aVvBUCMMrjjpnM
      VYRiYsdxpzBRdHIVnSMl97zTSszPSq0XNaaOlQTo69Zk4FFy38BsahHyFAtENNOV
      iQVkHgwXLT4EbB6lmH47/yhbPYC1Ozasd1itQuEZ1PU9mUBYQIEppaWZlM1/ZURr
      Flk2iyeQGDajk6BCZcvgXpOzWqMHzzmdNRrgxJAbL5culywdaaN0KEgm0dUNJKvo
      l1VNlS/5ezASPrj6Qg==
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      MIIG1TCCBL2gAwIBAgIQbFWr29AHksedBwzYEZ7WvzANBgkqhkiG9w0BAQwFADCB
      iDELMAkGA1UEBhMCVVMxEzARBgNVBAgTCk5ldyBKZXJzZXkxFDASBgNVBAcTC0pl
      cnNleSBDaXR5MR4wHAYDVQQKExVUaGUgVVNFUlRSVVNUIE5ldHdvcmsxLjAsBgNV
      BAMTJVVTRVJUcnVzdCBSU0EgQ2VydGlmaWNhdGlvbiBBdXRob3JpdHkwHhcNMjAw
      MTMwMDAwMDAwWhcNMzAwMTI5MjM1OTU5WjBLMQswCQYDVQQGEwJBVDEQMA4GA1UE
      ChMHWmVyb1NTTDEqMCgGA1UEAxMhWmVyb1NTTCBSU0EgRG9tYWluIFNlY3VyZSBT
      aXRlIENBMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAhmlzfqO1Mdgj
      4W3dpBPTVBX1AuvcAyG1fl0dUnw/MeueCWzRWTheZ35LVo91kLI3DDVaZKW+TBAs
      JBjEbYmMwcWSTWYCg5334SF0+ctDAsFxsX+rTDh9kSrG/4mp6OShubLaEIUJiZo4
      t873TuSd0Wj5DWt3DtpAG8T35l/v+xrN8ub8PSSoX5Vkgw+jWf4KQtNvUFLDq8mF
      WhUnPL6jHAADXpvs4lTNYwOtx9yQtbpxwSt7QJY1+ICrmRJB6BuKRt/jfDJF9Jsc
      RQVlHIxQdKAJl7oaVnXgDkqtk2qddd3kCDXd74gv813G91z7CjsGyJ93oJIlNS3U
      gFbD6V54JMgZ3rSmotYbz98oZxX7MKbtCm1aJ/q+hTv2YK1yMxrnfcieKmOYBbFD
      hnW5O6RMA703dBK92j6XRN2EttLkQuujZgy+jXRKtaWMIlkNkWJmOiHmErQngHvt
      iNkIcjJumq1ddFX4iaTI40a6zgvIBtxFeDs2RfcaH73er7ctNUUqgQT5rFgJhMmF
      x76rQgB5OZUkodb5k2ex7P+Gu4J86bS15094UuYcV09hVeknmTh5Ex9CBKipLS2W
      2wKBakf+aVYnNCU6S0nASqt2xrZpGC1v7v6DhuepyyJtn3qSV2PoBiU5Sql+aARp
      wUibQMGm44gjyNDqDlVp+ShLQlUH9x8CAwEAAaOCAXUwggFxMB8GA1UdIwQYMBaA
      FFN5v1qqK0rPVIDh2JvAnfKyA2bLMB0GA1UdDgQWBBTI2XhootkZaNU9ct5fCj7c
      tYaGpjAOBgNVHQ8BAf8EBAMCAYYwEgYDVR0TAQH/BAgwBgEB/wIBADAdBgNVHSUE
      FjAUBggrBgEFBQcDAQYIKwYBBQUHAwIwIgYDVR0gBBswGTANBgsrBgEEAbIxAQIC
      TjAIBgZngQwBAgEwUAYDVR0fBEkwRzBFoEOgQYY/aHR0cDovL2NybC51c2VydHJ1
      c3QuY29tL1VTRVJUcnVzdFJTQUNlcnRpZmljYXRpb25BdXRob3JpdHkuY3JsMHYG
      CCsGAQUFBwEBBGowaDA/BggrBgEFBQcwAoYzaHR0cDovL2NydC51c2VydHJ1c3Qu
      Y29tL1VTRVJUcnVzdFJTQUFkZFRydXN0Q0EuY3J0MCUGCCsGAQUFBzABhhlodHRw
      Oi8vb2NzcC51c2VydHJ1c3QuY29tMA0GCSqGSIb3DQEBDAUAA4ICAQAVDwoIzQDV
      ercT0eYqZjBNJ8VNWwVFlQOtZERqn5iWnEVaLZZdzxlbvz2Fx0ExUNuUEgYkIVM4
      YocKkCQ7hO5noicoq/DrEYH5IuNcuW1I8JJZ9DLuB1fYvIHlZ2JG46iNbVKA3ygA
      Ez86RvDQlt2C494qqPVItRjrz9YlJEGT0DrttyApq0YLFDzf+Z1pkMhh7c+7fXeJ
      qmIhfJpduKc8HEQkYQQShen426S3H0JrIAbKcBCiyYFuOhfyvuwVCFDfFvrjADjd
      4jX1uQXd161IyFRbm89s2Oj5oU1wDYz5sx+hoCuh6lSs+/uPuWomIq3y1GDFNafW
      +LsHBU16lQo5Q2yh25laQsKRgyPmMpHJ98edm6y2sHUabASmRHxvGiuwwE25aDU0
      2SAeepyImJ2CzB80YG7WxlynHqNhpE7xfC7PzQlLgmfEHdU+tHFeQazRQnrFkW2W
      kqRGIq7cKRnyypvjPMkjeiV9lRdAM9fSJvsB3svUuu1coIG1xxI1yegoGM4r5QP4
      RGIVvYaiI76C0djoSbQ/dkIUUXQuB8AL5jyH34g3BZaaXyvpmnV4ilppMXVAnAYG
      ON51WhJ6W0xNdNJwzYASZYH+tmCWI+N60Gv2NNMGHwMZ7e9bXgzUCZH5FaBFDGR5
      S9VWqHB73Q+OyIVvIbKYcSc2w/aSuFKGSA==
      -----END CERTIFICATE-----
  /etc/pki/tls/certs/server.key:
    mode: '000400'
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpAIBAAKCAQEAjoPA+p7YSRQ7+DBmuRa6167wUvJWnhrKX1FWvAGWQ/GD8HM+
      R4DstKDNL4DqWvjL5Nwr88xxdaD47adaG0D9N8tmP6d3Ktw2W4R+9wsLizoWg7LL
      5NFbLKbA33L6JG1OL6FwEyfxh7bMm+JHXIF6acmjZTQoMvkvHwxJ7qxvulBMbc/4
      7Pg7gfsmWCaCBr2RgSnnH3jlKkXvMJ5hU11q+UA8G4TfmgXYbPAgdV7ZzwYHeX3f
      6kj+xtE8MBlffUpCNa7BjJBS+oRKUnJE9kp9bOEusF7T2DKtr3wEUYTropHOULjq
      S6skQODCpU+QJIMrKB2h1Etinzi87uBE8a8mpwIDAQABAoIBAGsWugYZInEXkVCY
      Hjhqyg+UVuYdT9USUIt7dW9kyeNYMkqWbnAQgs3gHw7ZEkE1vxDEGQrjz0YSpbr/
      DAh6t0wbvUOLtVIxk28FitpcJFqEVbK0wd25K4fL7hZ6MVj6AcxsxOjAFRBj3jAs
      wm7SpIelivBbVvGmqS/tbgi47mPTHPFKFvfC2BbAqJMVzOQckgVPJqHOgZuGdM3y
      nJUaGoW5oVU90QrVHYVbqmA+xYp/bdvHsTdAzwD9gnyLU5a1Rh/Bw8xTQDgr6t5u
      bCrchIOUb+pL6SEttXshD+y19AA80F7JNg+zstMUVmQ10I1+sRS1I+v7V+Sq3I5X
      GUMY6eECgYEA3JYEVYAByRGb2qzgH1TZYuS89NvtT+TNT7KhoaUanh7dPWz8aefU
      Qf6Xj1O7IcBvLCgOhvTPLj7WNg9e2X+lXJryahUHQ+8+Tx7FOZEo5Kn6dnizFG+t
      pvSmxt6uEAoUCGSKgn+wZKNv/lJzknKRJ8oHGkMdmlCIulqtThrq6B8CgYEApWUK
      carbEAu/kBoc9FgI5HY4wTpGmn2Ka6wm7P3K8rLA3KYIbAC9lsA5kKn8xL6vWYS0
      Le6dJDnwi/R4cNVKK5RvkvpHpldN6JmmuwVviMVESxQgDJFKnR1sP3IqBJl+3JRJ
      /n5RF07Nt4W6z5bFqFDMvYVEl/kA8/xoZ98qkHkCgYEAymI1bcC5YqJuTW7pXrW5
      kbtuBnY1wGSbXrD1DNrvlf2ZXP8+g2h5XWdZ5N2cxrXJCkliMr4vzC1I2ma1znYH
      4PQkz+GlPdYmY+9GYq/lRg8SRlota+We/Jxg2/t41ix4/s5IKr0+uMcfPManVMka
      ltgMNjM32Npk6B3D/fJCbl8CgYEAnaZF4jq9O/o2yiBZ4P3Y3Atj5aqqia+INUGO
      iO8Qd22zL56DAI9kJ0FqnV2qNc6cTXOUWwPKfTFM+9o2wzZK0GdYQnyVtxQYitGK
      f1GbEn8VrYqtUc1blY7qEz+6lU/KAG7IaO/2U4UlyPyLKDvKg7kgrrVMwJ70LZw1
      2Gx7oeECgYBuRul/vxCu9xDHhlZ556hBIhc4SasmCVPpTzus8du49YDH3Vs4AReS
      yCpGYEXFlG125b32EgzFLq3ngJr4KFgunOyVPwYbu8h3qY/yCcWr3DcrAKnA2UZG
      ++O+VqwAZtjHewn7nySj3EYBTHqT1rdXWKkYazll5fdKCllGrYXd+Q==
      -----END RSA PRIVATE KEY-----